<mat-card>
    <mat-card-title>Mapa</mat-card-title>

    <mat-card-content>
        <google-map width="750px" height="450px" [center]="center" [zoom]="zoom">
          <map-marker
            #markerElem
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            (mapClick)="openInfo(markerElem, marker.info)"
          >
          </map-marker>
          <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>

        <button (click)="zoomIn()">Zoom in</button>
        <button (click)="zoomOut()">Zoom out</button>

    </mat-card-content>

</mat-card>