<div class="animated fadeIn ae-grid">
    <h1>Contactanos</h1>
    <hr>
</div>
<div class="ae-grid">
    <div class="ae-grid__item item-lg-6">
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
                <p class="au-mb-4 contact__addr">Calle 17 No. 17 – 17<br>Bogotá – Colombia<br><br></p>
                <p> <span class="contact__phone"> <span class="rk-light-color">PBX  </span>(+57)(1)7171717</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><a routerLink="#0">juliangarzon-dev@github.com<br><br></a></span>
                </p>
            </div>

        </div>
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-12">
                <form id="contact-form" action="#0" class="ae-form--full">
                    <p><input class="mr-3" type="text" placeholder="* Nombre" required> <input type="email" placeholder="* Email" required></p><br><br>
                    <textarea placeholder="Mensaje..." cols="30" rows="4"></textarea><br>
                    <button type="button" class="btn btn-primary" href="juliangarzon-dev@github.com">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>